@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

body {
	background: linear-gradient(200deg, #fbf4b5 0%, #ffee55 100%);
	font-family: "Roboto", sans-serif;
	color: #ffd404;
}

a {
	color: currentColor;
}

header {
	// background: #e3ffe7;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1;
	color: #333;
}

input {
	opacity: 0;
	position: absolute;
	pointer-events: none;

	&:checked + label:after {
		opacity: 1;
	}
}

label {
	position: relative;
	user-select: none;

	&:after {
		opacity: 0;
		content: "";
		height: 0.3em;
		width: 120%;
		background-color: currentColor;
		position: absolute;
		left: -10%;
		top: 50%;
		transform: translateY(-50%) rotate(-10deg);
	}
}

img {
	max-width: 300px;
}

.title {
	padding-top: 200px;
}

p {
	margin: 0;
}

.relative {
	position: relative;
	width: 100%;
	height: 550px;
}

.absolute {
	position: absolute;
	right: 0;
}

.max-width {
	max-width: 300px;
}

.margin {
	margin: 2em;
}

.odd-margins {
	margin: 5vw;
	// display: inline-block;
	h1 + h1 {
		display: inline-block;
	}
}

.padding {
	padding: 2em;
}

.container {
	margin: 20px;
	background: rgba(0, 0, 255, 0.1);
}

.small {
	width: 50%;
	max-width: none;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.background {
	background: #fee;
	padding: 40px;
}
// img:not(.big) {
// 	width: 500px;
// 	height: auto;
// }

.big {
	height: 75vh;
	width: auto;
}

.borders {
	.viscosity {
		outline: 1px solid rgba(0, 0, 255, 0.2);
	}

	.viscosity-copycat {
		outline: 1px solid rgba(255, 0, 0, 0.2);
	}
}

#ruler {
	pointer-events: none;
	opacity: 0;
}

.ruler {
	#ruler {
		opacity: 1;
	}
}

section {
	height: 80vh;
	margin-bottom: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&.horizontal {
		flex-direction: row;
	}

	.half {
		position: absolute;
		padding: 3em;
		max-width: 25em;

		p {
			margin-bottom: 1em;
		}
	}

	.faded {
		opacity: 0.15;
	}

	.bee {
		position: absolute;
		z-index: 1;
		width: 30px;
		top: 20%;
		left: 75%;

		&:nth-of-type(1) {
			top: 17%;
			left: 65%;
		}

		&:nth-of-type(2) {
			top: 15%;
			left: 70%;
		}
	}

	a,
	h1 {
		font-weight: bold;
		font-size: 150px;
		margin: -.2em 0 0;
		text-decoration: none;

		@media screen and (max-width: 840px) {
			font-size: 17vw;
		}
	}

	h2 {
		font-size: 32px;
	}

	p {
		font-size: 25px;
	}

	img {
		max-width: 200px;
		z-index: 2;
	}

	.badge {
		color: #ff1d04;
		text-transform: uppercase;
		position: absolute;
		font-size: 50px;
		transform: rotate(-15deg);
		z-index: 2;
		border: 0.2em solid;
		padding: 0.2em;
		opacity: 0.8;
	}

	&.swarm {
		position: relative;

		img {
			position: absolute;
			width: 30px;
			height: auto;
		}
	}
}

.text-black {
	color: #333;
}

.red {
	color: #ff1d04;
	opacity: 0.8;
}
