@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body {
	background: linear-gradient(75deg, #e3ffe7 0%, #d9e7ff 100%);
	color: #224;
	// height: 350vh;//180vh;
	// display: flex;
	// flex-wrap: wrap;
	// align-items: center;
	// justify-content: center;
	font-family: "Roboto", sans-serif;
	color: #669eff;
}

header {
	background: #e3ffe7;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1;
}

.title {
	padding-top: 200px;
}

p {
	margin: 0;
}

.relative {
	position: relative;
	width: 100%;
	height: 550px;
}

.absolute {
	position: absolute;
	right: 0;
}

.max-width {
	max-width: 300px;
}

.margin {
	margin: 2em;
}

.odd-margins {
	margin: 5vw;
	display: inline-block;

	h1 + h1 {
		display: inline-block;
	}
}

.padding {
	padding: 2em;
}

.container {
	margin: 20px;
	background: rgba(0, 0, 255, 0.1);
}

.small {
	width: 50%;
	max-width: none;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.background {
	background: #fee;
	padding: 40px;
}

img:not(.big) {
	width: 500px;
	height: auto;
}

.big {
	height: 75vh;
	width: auto;
}

.borders {
	.viscosity {
		outline: 1px solid rgba(0, 0, 255, 0.2);
	}

	.viscosity-copycat {
		outline: 1px solid rgba(255, 0, 0, 0.2);
	}
}

#ruler {
	pointer-events: none;
	opacity: 0;
}

.ruler {
	#ruler {
		opacity: 1;
	}
}
